* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


/* inizio header*/
h1 {
    
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(229, 49, 112);
}
/*fine header*/




/*inizio main*/
.intestazione {
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.box {
    width: calc(90% / 3);
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-right: 40px;
    color: white;
}


.pull-left{
    float:left;
}

.pull-right{
    float:right;
    margin-right: 10px;
}

img {
   width: 100px;
   height: 100px;
}

.descrizione {
    color: white;
}


















